{{#section 'css'}}
    <link rel="stylesheet" href="/css/contacts.css">
{{/section}}

<div class="container contact">
        <div class="contact__title fs-1 text-center my-5 text-uppercase">Liên hệ</div>
        <div class="row contact__info mb-5">
            <div class="col-lg-4 d-flex align-items-center">
                <div class="contact__contain-img text-center">
                    <i class="fa-regular fa-building contacts__icons"></i>
                    <img src="https://theme.hstatic.net/1000398438/1000510245/14/contact_iconbg.png" alt="" class="contact__img">
                </div>
                <p class="contact__name mx-5 fs-4 mb-0">
                    71/8 đường 3/2 Ninh Kiều Cần Thơ
                </p>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <div class="contact__contain-img">
                    <i class="fa-solid fa-envelope contacts__icons"></i>
                    <img src="https://theme.hstatic.net/1000398438/1000510245/14/contact_iconbg.png" alt="" class="contact__img">
                </div>
                <p class="contact__name mx-5 fs-4 mb-0">
                    thienthanh17082001@gmail.com
                </p>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <div class="contact__contain-img">
                    <i class="fa-solid fa-phone contacts__icons"></i>
                    <img src="https://theme.hstatic.net/1000398438/1000510245/14/contact_iconbg.png" alt="" class="contact__img">
                </div>
                <p class="contact__name mx-5 fs-4 mb-0">
                    0366176577 / 011101010101
                </p>
            </div>
        </div>
    </div>
    <div class="contact__form">
        <form action="" class="form__info w-50">
            <h3 class="form__tittle fs-1 text-center my-4">Liên hệ với chúng tôi</h3>
            <div class="mb-3">
                <label  class="form-label text-white fs-4">Tên</label>
                <input type="text" class="form-control fs-3 ps-4" placeholder="Thanh">
            </div>
            <div class="mb-3">
                <label  class="form-label text-white fs-4">Email</label>
                <input type="email" class="form-control fs-3 ps-4"  placeholder="thienthanh17082001@gmail.com">
            </div>
            <div class="mb-3">
                <label  class="form-label text-white fs-4">Số điện thoại</label>
                <input type="text" class="form-control fs-3 ps-4"placeholder="0366*****">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label text-white fs-4">Tin nhắn</label>
                <textarea class="form-control fs-3 ps-4" placeholder="Nôi dung tin nhắn" rows="3"></textarea>
            </div>
            <button class="btn__seemore text-white mt-3">Gửi</button>
        </form>
    </div>